<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <% include header.html %>

  <div class="main">
    <% include side.html %>
    
    <div class="main-right">
      <div class="content">
        <% include info.html %>
        <form action="" method="post" name='post-form'>
          <p>标题：</p>
          <p>
            <input type="text" class="text" value="" name="title">
          </p>
          <p>标签</p>
          <p>
            <input type="text" value="" name="tag1">
            <input type="text" value="" name="tag2">
            <input type="text" value="" name="tag3">
          </p>
          <p>正文：</p>
          <p>
            <textarea class="text" name="post" rows="25"></textarea>
          </p>
          <p><a href="/upload">上传</a></p>
          <p>
          <button type="submit">发表</button>
          </p>
        </form>
      </div>
    </div>

  </div>
  

</div>
<% include footer.html %>
</body>
</html>
