<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <% include header.html %>

  <div class="main">
    <% include side.html %>
    
    <div class="main-right">
      <div class="content">
        <% include info.html %>
        <form action="" method="post" name='upload-form' enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="file" name="file"></p>
          <p><input type="file" name="file"></p>
          <p><input type="file" name="file"></p>
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="upload"></p>
        </form>
      </div>
    </div>

  </div>
  

</div>
<% include footer.html %>
</body>
</html>
